<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.jpeg">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main class="main-content">
        {{>header }}
        <div class="about">
            <div class="about-project">
                <h3>About Project</h3>
                <ol>
                    <li>
                        Built with Node.js: Leveraging the power and flexibility of Node.js to drive the backend functionality.
                    </li>
                    <li>
                        Routing with Express.js: Implemented routing using Express.js to handle different routes and requests efficiently.
                    </li>
                    <li>
                        Templates with Handlebars: Utilized Handlebars for dynamic templating and rendering of views, ensuring a clean and maintainable user interface.
                    </li>
                    <li>
                        Real-time Weather Integration: Integrated an API to fetch and display real-time weather conditions, providing users with up-to-date weather information.
                    </li>
                </ol>
            </div>
            <div class="about-me">
            
            <div>
                <h3>About me</h3>
                <p class="about-me-text">
                    As a final year student with a focus on full stack, I am skilled in the MERN stack, including MongoDB, Express.js, React, and Node.js. I am also proficient in JavaScript, Python, SQL, and PHP. Committed to building scalable web applications, I leverage my expertise in both front-end and back-end development to create efficient and user-friendly solutions, effectively addressing complex challenges.</p>
            </div>
        </div>
        </div>
        
    </main>
   
    {{>footer}}
</body>
    

</html>