<footer class="footer">
  <div class="footer-content">
    <p>Created by {{name}}</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/windhyasrivastava" target="_blank" class="icon">
        <i class="fa-brands fa-linkedin" style="color: #2d6087;"></i>
      </a>
      <a href="https://github.com/heywindsssss/weatherApplication" target="_blank" class="icon">
        <i class="fa-brands fa-github"></i>
        
      </a>
    </div>
  </div>
</footer>

